In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set()

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv', index_col = 'RowNumber')
dataset.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#Customer ID and Surname would not be relevant as features
X_columns = dataset.columns.tolist()[2:12]
Y_columns = dataset.columns.tolist()[-1:]
print(X_columns)
print(Y_columns)

['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']
['Exited']

In [4]:
X = dataset[X_columns].values 
Y = dataset[Y_columns].values

In [5]:
#We need to encode categorical variables such as geography and gender
from sklearn.preprocessing import LabelEncoder
X_column_transformer = LabelEncoder()
X[:, 1] = X_column_transformer.fit_transform(X[:, 1])

In [6]:
#Lets Encode gender now
X[:, 2] = X_column_transformer.fit_transform(X[:, 2])

In [7]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

pipeline = Pipeline(
    [
        ('Categorizer', ColumnTransformer(
            [
                ("Gender Label Encoder", OneHotEncoder(categories = 'auto', 
                                                       drop = 'first'), [2]),
                ("Geography Label Encoder", OneHotEncoder(categories = 'auto',
                                                          drop = 'first'), [1])
            ], 
            remainder = 'passthrough', n_jobs = 1)),
        ('Normalizer', StandardScaler())
    ]
)

In [8]:
#Standardize the features
X = pipeline.fit_transform(X)

In [9]:
#Spilt the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [10]:
#Let us create the Neural Network
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [11]:
#Initialize ANN
classifier = Sequential()

In [12]:
#Add input layer and hidden layer
classifier.add(Dense(6, activation = 'relu', input_shape = (X_train.shape[1], )))
classifier.add(Dropout(rate = 0.1))

In [13]:
#Add second layer
classifier.add(Dense(6, activation = 'relu'))
classifier.add(Dropout(rate = 0.1))

In [14]:
#Add output layer
classifier.add(Dense(1, activation = 'sigmoid'))

In [15]:
#Let us take a look at our network
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dropout (Dropout)           (None, 6)                 0

 dense_1 (Dense)             (None, 6)                 42

 dropout_1 (Dropout)         (None, 6)                 0

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 121 (484.00 Byte)
Trainable params: 121 (484.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
#Optimize the weights
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy',
                   metrics = ['accuracy'])

In [18]:
#Fitting the Neural Network
history = classifier.fit(X_train, y_train, batch_size = 32, epochs = 7, validation_split = 0.1, verbose = 2)

Epoch 1/7
225/225 - 1s - loss: 0.3577 - accuracy: 0.8494 - val_loss: 0.3311 - val_accuracy: 0.8625 - 1s/epoch - 4ms/step
Epoch 2/7
225/225 - 1s - loss: 0.3604 - accuracy: 0.8507 - val_loss: 0.3303 - val_accuracy: 0.8637 - 828ms/epoch - 4ms/step
Epoch 3/7
225/225 - 1s - loss: 0.3675 - accuracy: 0.8479 - val_loss: 0.3324 - val_accuracy: 0.8637 - 802ms/epoch - 4ms/step
Epoch 4/7
225/225 - 1s - loss: 0.3654 - accuracy: 0.8503 - val_loss: 0.3318 - val_accuracy: 0.8637 - 860ms/epoch - 4ms/step
Epoch 5/7
225/225 - 1s - loss: 0.3598 - accuracy: 0.8515 - val_loss: 0.3316 - val_accuracy: 0.8625 - 820ms/epoch - 4ms/step
Epoch 6/7
225/225 - 1s - loss: 0.3598 - accuracy: 0.8503 - val_loss: 0.3306 - val_accuracy: 0.8637 - 795ms/epoch - 4ms/step
Epoch 7/7
225/225 - 1s - loss: 0.3624 - accuracy: 0.8487 - val_loss: 0.3305 - val_accuracy: 0.8675 - 800ms/epoch - 4ms/step

In [19]:
y_pred = classifier.predict(X_test)
print(y_pred[:5])

63/63 [==============================] - 1s 3ms/step
[[0.30495143]
 [0.34700462]
 [0.18290904]
 [0.08852977]
 [0.09241875]]

In [20]:
#Let us use confusion matrix with cutoff value as 0.5
y_pred = (y_pred > 0.5).astype(int)
print(y_pred[:5])

[[0]
 [0]
 [0]
 [0]
 [0]]

In [21]:
#Making the Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1529   66]
 [ 209  196]]

In [22]:
#Accuracy of our NN
print(((cm[0][0] + cm[1][1])* 100) / len(y_test), '% of data was classified correctly')

86.25 % of data was classified correctly